
  #video_pop {
    z-index: 9999; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.5); 
    display: none;
    cursor: pointer;
}

#the_Video {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
h1{
    font-family: Impact;
    text-align: center;
}
body{
    color: #000000;
    background-color: #FFFFFF;
    background-image: url("../Images/Climber_on_rock_ridge.png");
    background-position: 100% 50%;
    background-size: auto 66%;
    background-repeat: no-repeat;
    background-color: rgba(238, 238, 238, 0.1) !important;
    background-blend-mode: color;
    height:100vh;
}
.background-pic-hidden{
    background-size: 0%,0%;
    background-image: none !important;
}
details{
    background-color: #ADD8E6;
    font-style: italic;
    transition-property: color, background;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    transition-delay: .5s;
    /* width: 20%; */
}

summary{
    font-style: normal;;
}
header, footer{
    color: #FFFFFF;
    background-color: #87CEEB;
    /* can use degrees to control */
    background: linear-gradient(to bottom right, #1E90FF, #87CEEB  );
}

footer{
    flex:1;
}
 #footer{
     position: fixed;
     bottom: 0;
    height: 60px;
 } 
::selection{
    color: #FF0000;
    outline: 5px dotted #FF0000;
}
 
.opacity-0 {
    opacity:0!important;
  }
  .opacity-1 {
    opacity:0.2!important;
  }
  .opacity-2 {
    opacity:0.4!important;
  }
  .opacity-3 {
    opacity:0.6!important;
  }
  .opacity-4 {
    opacity:.8!important;
  }
  .opacity-5 {
    opacity:1!important;
  }
  
  /* Maybe even support hover opacity shifts */
  .opacity-0h5 {
    opacity:0!important;
    transition: opacity .25s ease-in-out!important;
    -moz-transition: opacity .25s ease-in-out!important;
    -webkit-transition: opacity .25s ease-in-out!important;
  }
  .opacity-0h5:hover {
    opacity:1!important;
  }
  
 
details{
    background-color: #FFFFFF;
    opacity:.8!important;
}
details:nth-child(even){
    background-color: #ADD8E6;
}
details:select{
    opacity:1!important;
}
details:hover{
    opacity:1!important;
}
details[open] {
    opacity:1!important;
}
.section{
    background-color: #FFFFFF;
    opacity:.8!important;
}
.section:select{
    opacity:1!important;
}
.section:hover,
.section:focus{
    opacity:1!important;
}
.section:active {
    opacity:1!important;
}
.nav-item > .active {
    /* color : darkblue; */
    background:#00008B;
}
main,
.Risksim  {
    min-height: 80vh!important;
}
.fa-cog {
    color: white;
}
.fa-superpowers,
.fa-sliders-h,
.fa-bar-chart,
.fa-cubes
{
    color: #0000CD; /* 8B dark, CD medium, FF blue*/
}
