#headerPopup{
    width:75%;
    margin:0 auto;
  }
  
  #headerPopup iframe{
    width:100%;
    margin:0 auto;
  }
  #video_pop {
    z-index: 9999; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.5); 
    display: none;
    cursor: pointer;
}

#the_Video {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
h1{
    font-family: Impact;
    text-align: center;
}
h4{
    color: white;
    background-color: grey;
}
body{
    color: #000000;
    background-color: #FFFFFF;
    background-image: url("../Images/Climber_on_rock_ridge.png");
    background-position: 100% 50%;
    background-size: auto 66%;
    /* padding-top:100px; */
    /* background-size:cover; */
    background-repeat: no-repeat;
    background-color: rgba(238, 238, 238, 0.1) !important;
    background-blend-mode: color;
    height:100vh;
    /*height: 100%;
    background-position: 100%;
    background-size: cover;*/
    /* font-family: Times, Arial, cursive; */
}
figure{
    /*width: 30%;
    height: 100%;*/
    /* transition-property: width, height, transform;
    transition-duration: 2s, 2s, 2s; */
}
figure:hover{
    /* transform: rotate(360deg);
    height: 50%;
    width: 30%; */
}
details{
    background-color: lightblue;
    font-style: italic;
    transition-property: color, background;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    transition-delay: .5s;
    /* width: 20%; */
}

summary{
    font-style: normal;;
}
header, footer{
    color: white;
    background-color: #87CEEB;
    /* can use degrees to control */
    background: linear-gradient(to bottom right, #1E90FF, #87CEEB  );
    /*background:  */
    /* text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: 25px; */
   
}

footer{
    text-align: left;
    clear: both;
}

video{
    background-color: #000000;
}

::selection{
    color: red;
    outline: 5px dotted red;
    /*outline-style: dotted;
    outline-color: red;
    outline-width: 5px;
*/
}
    CSS tags
    classes (use .class)
    id -- which should be unique (use #id)
    child selectors, e.g. article h2, which applies to all h2 in article
    direct child selectors, e.g. article > h2 
    sibling selector, e.g. h2 ~ p => h2's that come immediately after p
    adjacent sibling, e.g. h2 + p
*/
/*  you can also style 
    Universal (*{})
    Attribute Selectorss a[href="info.html"], can use regexp's
    Psuedo-Classes 
    Psuedo-Elements
*/
.opacity-0 {
    opacity:0!important;
  }
  .opacity-1 {
    opacity:0.2!important;
  }
  .opacity-2 {
    opacity:0.4!important;
  }
  .opacity-3 {
    opacity:0.6!important;
  }
  .opacity-4 {
    opacity:.8!important;
  }
  .opacity-5 {
    opacity:1!important;
  }
  
  /* Maybe even support hover opacity shifts */
  .opacity-0h5 {
    opacity:0!important;
    transition: opacity .25s ease-in-out!important;
    -moz-transition: opacity .25s ease-in-out!important;
    -webkit-transition: opacity .25s ease-in-out!important;
  }
  .opacity-0h5:hover {
    opacity:1!important;
  }
  
 
details{
    background-color: white;
    opacity:.8!important;
}
details:nth-child(even){
    background-color: lightblue;
}
details:select{
    opacity:1!important;
}
details:hover{
    opacity:1!important;
}
details[open] {
    opacity:1!important;
}
.nav-item > .active {
    /* color : darkblue; */
    background:darkblue;
}
